

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




input, textarea, .uneditable-input {
    width: 100%;
}



label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
p { clear: both; }



.hero-unit{
	padding: 20px;	
}



